<div class="container">
    <div class="d-flex py-2">
        <h3>Messages</h3>
        <ul>
            <% @chatrooms.each do |chatroom| %>
                <li>
                    <%= link_to chatroom_path(chatroom) do %>
                        <% chatroom.participants.each do |participant| %>
                            <% unless participant.user == current_user %>
                                <%= image_tag url_for(participant.user.avatar), class: 'avatar', alt: "Avatar de #{participant.user.nickname}" %>
                                <%= participant.user.nickname %>
                           <% end %>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <h2>Nouvelle conversation privée</h2>

    <%= form_tag create_private_conversation_chatrooms_path, method: :post do %>
    <label for="other_user_id">Choisissez un utilisateur avec qui discuter en privé:</label>
    <%= select_tag "other_user_id", options_for_select(User.all.map { |user| [user.nickname, user.id] }), prompt: "Sélectionnez un utilisateur" %>
    <br>
    <%= submit_tag "Démarrer la conversation privée", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>