<div class="container-chatroom">
    <div class="chatroom-left pt-3">
        <div class="liste-discussions">
            <h3>Messages</h3>
            <%= form_with url: chatrooms_path, method: :get, class: "d-flex barre-recherche shadow-lg rounded-pill mb-4" do %>
                <%= text_field_tag :query,
                params[:query],
                class: "form-control recherche-input",
                placeholder: "Discussion"
                %>
                <%= submit_tag "Recherche", nickname: "", class: "nav-link py-1 px-2" %>
            <% end %>
                <%# <%= link_to "Effacer la recherche", chatrooms_path, class: "btn btn-secondary" %>
        </div>
        <div class="discussions">
            <ul>
                <%= render "chatrooms/chat_private" %>
            </ul>
        </div>
        <div>
        </div>
    </div>
    <div class="chatroom-right pt-3">
        <div class="tentative">
            <div class="info-chatroom">
                <p>Sélectionnez une conversation pour commencer la discussion.</p>
                <%= form_tag create_private_conversation_chatrooms_path, method: :post do %>
                    <label for="other_user_id"></label>
                    <%= select_tag "other_user_id", options_for_select(User.all.map { |user| [user.nickname, user.id] }), prompt: "Sélectionnez un utilisateur" %>
                    <br> 
                    <%= submit_tag "Démarrer", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>